* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-content{
    padding: 0 3rem;
}




.div-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: darkgreen;
    margin: 3rem 0;
}

.section-head {
   color:rgb(240, 240, 240);
}
    
.section-head2 {
    color: darkgreen;
}
