
:root{
    --main-color: rgb(101, 140, 197);
    
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*navbar*/
.navbar{
    width: 100vw;
    height: 70px;
    background-color: rgba(245, 222, 179, 0.322);
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-nabar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.a-nabar{
text-decoration: none;
font-weight: bold;
color:var(--main-color);
margin: 0 1rem;
}


div{
    border: 1px solid rgba(121, 154, 204, 0.582);

}




.div-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--main-color);
    margin: 3rem 0;
}

.section-head {
   color:rgb(240, 240, 240);
}

.section-contianer{
    padding: 0 5rem;
}


.section-head2 {
    color: var(--main-color);
}


