.section-head {
    color: rgb(42, 230, 25);
}

.div-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: coral;
   
   
    margin: 3rem 0;



}


.section-head2 {


    color: rgb(197, 197, 197);
}

*{

    /* push out */
    margin: 0%;
    /* push in */
    padding: 0%;

    box-sizing: border-box;
}
.main {

    padding: 0 5rem;
}


.section-contianer {

        padding: 0 5rem;



}