/* Variable2 Setup */
:root {
    --main-color: #ff0000;
    --sub-color:  #ffffff;
}

/* Main Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar */
.navbar {
    width: 100vw;
    height: 70px;
    background-color: rgb(245, 195, 205);
    padding: 1rem 5rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* div */
.div {
    border: #3cff00 5px solid;
}

/* div Navbar */
.div-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* A Navbar */
.a-navbar {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
    margin: 0 1rem;
    transition:all 0.3s linear;
}

/*แก้ได้แล้วครับจารรรรรร!*/
.a-navbar:hover {
    color: var(--sub-color);
    text-decoration: wavy underline;
    scale: 1.2;
    
        display: inline-block;
        transition:  0.3s ease, color 0.3s ease;
}


/* Section1 Title */
.div-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;;
    height: 150px;
    background: var(--main-color);
    margin: 2rem 0;
}

/* Section2 Title */
.div-head2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;;
    height: 150px;
    background: #5c1f25;
    margin: 2rem 0;
}

/* Section3 Title */
.div-head3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: #28b9c9;
    margin: 2rem 0;
}


/* Section Setup */
.section-contianer {
    padding:0 5rem;
}



/* Section Color */
.section-head {
    color:var(--main-color);
}

.section-head2 {
    color: rgb(255, 255, 255);
}

.section-head3 {
    color:rgb(139, 44, 227)
}