/* variable setup */
:root{
    --main-color:rgb(34, 209, 28);
}



/* main setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* section setup */
.section-conteaner{
    padding: 0 5rem;
}



.div-head {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color:var(--main-color);
    margin: 2rem 0;

}




.section-head {
    color:rgb(255, 255, 255);

}

.section-head2{
    color: #1fa1b3;
}