/* Variable setup */
:root{
    --main-color:rgb(167, 127, 201) ;
}



/* Main Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Navbar */
.navbar {
    width: 100vw;
    height: 70px;
    background-color: #9fcaff;
    padding: 1rem 5rem;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.div {
    border: rgb(0, 23, 128) 2px solid;
}


/* Section Title */
.div-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--main-color);
    margin: 3rem 0;
}

.section-head {
    color: rgb(255, 255, 255);
}



/* Section Setup */
.section-contianer {
    padding: 0 5rem;
}

.section-head2 {
    color: var(--main-color);
}