
/* verible setup */
:root{
    --main-color: rgb(101, 140, 197);
    --sub-color: rgb(255, 0, 0);
}



/* main setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}






/*navbar*/
.navbar{
    width: 100vw;
    height: 70px;
    background-color: rgba(245, 222, 179, 0.322);
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.a-navbar {
text-decoration: none;
font-weight: bold;
color:var(--main-color);
margin: 0 1rem;
transition: 0.3s linear;
}
.a-navbar:hover{
    color: var(--sub-color);
    text-decoration: wavy underline;
    scale: 1.3;
}

/* Section Title */
.div-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--main-color);
    margin: 3rem 0;
}

.section-head {
   color:rgb(240, 240, 240);
}

/* section content */
.section-contianer{
    padding: 0 5rem;
}

.div-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.section-img {
    width: 500px;
}

.section-head2 {
    color: var(--main-color);
    margin-top: 3rem;
}



