:root{
    --main-color:rgb(92, 45, 108) ;
    --sub-color: rgb(0, 255, 170);
}





/* main setup */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



/* navbar */

.navbar{
    width: 100vw;
    height: 70px;
    background-color: rgb(0, 255, 13);
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.div-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-navbar{
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
    margin: 0 1rem;
    transition: 0.3s linear;
}

.a-navbar:hover{
    color: var(--main-color);
    text-decoration: wavy underline;
    scale: 1.1;
}



/* secton Title */
.div-head{
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color:var(--main-color);
    margin: 3rem 0;
}
.section-head {
    color:  rgb(255, 0, 212);
}


/* setion setup */
.section-contianer{
    padding: 0 5rem;
}
.div-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.section-img{
    width: 464px;
}



.section-head2 {
    color:var(--main-color);
    margin-top: 3rem;
}